.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.circular {
    border-radius: 50%;
}

body {
    background-color: #644430;
}